.spot-detail-container {
  margin-left: 20px;
}

.spot-name {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 30px;
}

.city-state-country {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
}

.city-state-country p {
  margin-right: 8px;
}

.image-div {
  width: 1000px;
  display:flex;
  flex-wrap: wrap;

}

.previewImage {
  width: 50%;
  height: 400px;
  margin-right: 3px;
}

.regImage {
  width: 25%;
  height: 195px;
}


.hosted-owner {
  font-size: 22px;
  margin-top: 10px;
}

.spot-description {
  font-size: 16px;
}

.res-price-rating-div {
  border: 2px solid black;
  width: 300px;
  justify-content: left;
  margin-left: auto;
  margin-right: 50px;
  border-radius: 10px;
  padding: 7px;
}

.spot-price {
  font-size: 25px;
  margin-left: 20px;
}

.night {
  font-size: 15px;
  margin-top: auto;
  margin-bottom: 3px;
  padding-left: 2px;
}

.reviews-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.star-reviews {
  display: flex;
  flex-direction: row;
  margin-right: 10px;

}

.night-review {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0px;
}

.hosted-reserve {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}

.fa-circle fa-solid {
  height: 0.5px;
}

.dot-reviews {
  display: flex;
  flex-direction: row;
  margin-bottom: 2px;
}

.num-reviews {
  margin-left: 10px;
}

.reserve-button {
  width: 250px;
  height: 25px;
  margin-left:25px;
  margin-top:10px;
  margin-bottom: 5px;
  background-color: red;
  color:white
}
