
<<<<<<< HEAD
.spot-details-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1024px;
}

.spot-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
=======

.spot-detail-overall-container {
  width: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: center;
>>>>>>> dev
  font-family: 'Noto Sans Osage', sans-serif;
}

.spot-detail-container {
  margin-left: 20px;
  width: 1024px;
}

.spot-detail-name {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 30px;
}

.spot-detail-city-state-country {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
}

.spot-detail-city-state-country p {
  margin-right: 8px;
}

.spot-detail-image-div {
  width: 1150px;
  display:flex;
  height: 350px;
}


.spot-detail-preview-image {
  width: 50%;
  height: 410px;
  margin-right: 3px;
  height: 100%;
}

.spot-detail-regular-images-div {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
}

.spot-detail-reg-image {
  width: 220px;
  height: 175px;
  margin-left: 2px;
  margin-bottom: 2px;
}

.spot-detail-hosted-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid black;
  width: 950px;
}

.spot-detail-hosted-reserve-desc {
  width: 700px;
}

.spot-detail-hosted-owner {
  font-size: 22px;
  margin-top: 10px;
}

.spot-detail-description {
  font-size: 16px;
  margin-top: 5px;
  flex-wrap: wrap;
  margin-bottom: 20px;
  overflow-wrap: break-word;
  width: 500px;
}

.spot-detail-booking-container {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin-right: 10px;
  margin-top: 15px;
  border-radius: 10px;
  margin-left: 10px;
  margin-bottom: 15px;
  height: 80px;
  padding-right: 25px;
  padding-bottom: 10px;
}

.spot-detail-night-review {
  width: 100%;
  margin-left: 20px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0px;
  padding-right: 5px;
}


.spot-detail-reserve-button {
  width: 250px;
  height: 25px;
  margin-left: 25px;
  margin-top: 15px;
  margin-bottom: 5px;
  background-color: rgb(228, 60, 60);
  color:white;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid black;
}


.create-review-modal-spotdetails {
  list-style: none;
  margin-left: 20px;
  margin-top: 10px;
  font-family: 'Noto Sans Osage', sans-serif;
  border: 2px solid black;
  padding-left:2px;
  border-radius: 5px;
  width: 110px;
  color: white;
  background-color: gray;
  margin-bottom: 10px;
  font-size: 12px;
}

.spot-detail-dot-reviews-bigger {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-bottom: 15px;
  /* border: 2px solid green; */

}

.star-reviews-bigger {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

.avg-star-rating-bigger {
  font-size: 25px;
  margin-bottom:2px;
  margin-top:-2px;
}

.num-reviews-bigger {
  margin-left: 10px;
  font-size: 25px;
  margin-top: -2px;
}

.dot-bigger {
  font-size: 25px;
  /* margin-top:-2px; */
}

.star-reviews-bigger > i.fa-solid.fa-star::before {
  font-size: 25px;
}

.first-post-review {
  margin-left: 20px;
  font-size: 15px;
  margin-bottom: 50px;
}
