.signupform-container {
  width: 400px;
  border-radius: 20px;
  padding-bottom: 10px;
  border: 1px solid black;
  background-color:white;
}


.signup-text {
  text-align: center;
  margin-bottom: -10px;
  font-size: 30px;
  margin-top: 10px;
}

.signup-button {
  background-color: rgb(243, 115, 69);
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 38px;
  width: 300px;
  height: 40px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-color: 2px solid black;
  border-radius: 5px;
  color: white;
  font-size: 15px;
}

.signup-button:disabled {
  background-color: gray;
  border: 2px solid black;
  cursor: not-allowed;
}

.signup-label {
  display: block;
  width: 400px;
  text-align: auto;
  margin-left: 30px;
  padding: 5px;
}

.signup-input {
  width: 300px;
  display: block;
  font-weight:lighter;
  border: 1px solid black;
  border-radius: 4px;
  padding-left: 3px;
}

.signup-input:focus {
  outline: none;
}

.signup-errors-ul {
  text-align: auto;
  display: block;
  white-space: nowrap;
  margin-left: 25px;
  padding-top: 20px;
  color: red;
  list-style-type: none;
  width: 400px;
  font-size: smaller;
}

.signup-errors-li {
  padding: 4px;
}

.signup-input,
.signup-button,
.signup-label,
.signup-text,
.signup-errors-ul {
  font-family: 'Geometric Sans Serif v1', sans-serif;
  font-weight: lighter;
}
