.manage-spots-div {
  font-family: 'Noto Sans Osage', sans-serif;
}

.img-tile {
  width: 270px;
  height: 250px;
}

.spots {
  display: flex;
  width: 1024px;
  flex-wrap: wrap;
}

.spot-tile {
  flex-direction: row;
  width: 280px;
  padding: 10px;
  flex-wrap: wrap;
}

.rating-city {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: -10px;
}

.link-spot-tile {
  text-decoration: none;
}

.star-rating {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  margin-top: 5px;
}

.city-state {
  font-size: 15px;
}

.spot-price-night {
  display:flex;
  flex-direction:row;
  margin-top:0px;
}
.night {
  margin-left: 3px;
  font-weight: 100;
}

.all-spot-price {
  font-size: 20px;
  font-weight:bold;
}

a:active {
  text-decoration: none;
}

.spots {
  font-family: 'Noto Sans Osage', sans-serif;
}
