.manage-spots-div {
  font-family: 'Noto Sans Osage', sans-serif;
}

.img-tile {
  width: 270px;
  height: 250px;
  border-radius: 10px;
}

.get-all-spots-container {
  display: flex;
  width: 1024px;
  flex-wrap: wrap;
  font-family: 'Noto Sans Osage', sans-serif;
}

.get-all-spots-tile {
  flex-direction: row;
  width: 280px;
  padding: 10px;
  flex-wrap: wrap;
}

.get-all-spots-rating-city {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: -12px;
}

.get-all-spots-link {
  text-decoration: none;
}

.get-all-spots-star-rating {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  margin-top: 5px;
}

.get-all-spots-city-state {
  font-size: 15px;
}

.spot-price-night {
  display:flex;
  flex-direction:row;
  margin-top: -2px;
}
.night-text {
  margin-left: 3px;
  font-weight: lighter;
  margin-top: 2px;
}

.all-spot-price {
  font-size: 18px;
  font-weight: bold;
}

a:active {
  text-decoration: none;
}
