ul {
  display: flex;
  justify-content: space-between;
  border-bottom: solid lightgray;
}

.home-button {
  display: flex;
  text-decoration: none;
  align-self: center;
  margin-left: 20px;
}


.profile-button {
  display: block;
  margin-right: 10px;
}
