ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid rgb(200, 197, 197);
  padding: 0px;
  height: 70px;
  margin-bottom: 15px;
}

.home-button {
  display: inline-block;
  list-style-type: none;
  align-self: center;
  margin-left: 20px;
}

.profile-button {
  display: block;
  margin-right: 10px;
}

.navlink-home {
  display:flex;
  flex-direction: row;
}

.fa-sun {
  font-size: 30px;
  color:rgb(228, 60, 60)
}

.navlink-home {
  text-decoration: none;
}

.logo-text {
  font-size: 20px;
  width:100px;
  margin-top: 2px;
  color: rgb(228, 60, 60);
}

.loggedin-container {
  display: flex;
  flex-direction: row;
}

.create-spot-link-container {
  margin-top: 17px;
}

.navbar-create-spot {
  text-decoration: none;
  color:  rgb(228, 60, 60);
}

.navbar-create-spot:hover {
  text-decoration: underline;
}

.create-spot {
  text-decoration: none;
}

.navigation-bar {
  font-family: 'Noto Sans Osage', sans-serif;
}
