.hidden {
  display:none
}

.profile-button {
  width: 55px;
  height: 35px;
  background-color: white;
  border-radius: 20px;
  padding: 8px;
  padding-bottom: 10px;
}

.fas {
  display: flex;
  justify-content: end;
  align-self: center
}

.profile-dropdown {
  /* display: block; */
  position: absolute;
  list-style-type: none;
  flex-direction: column;
  width: 150px;
  padding: 1px 30px 1px 10px;
  border: 2px solid;
  border-radius: 5px;
  font-family: 'Geometric Sans Serif v1', sans-serif;
  font-weight: 100;
  right: 50px;
  top: 61px;
}

.profileItem{
  margin: 5px;
  cursor: pointer;
}


.profile-button-images {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.signup-item {
  background-color: red;
}

li {
  width: 200px;
  justify-content: space-between;
}

.fas fa-user-circle {
  width: 20px;
}
