.hidden {
  display:none
}

.profile-button {
  width: 55px;
  height: 35px;
  background-color: white;
  border-radius: 20px;
  padding: 8px;
  padding-bottom: 10px;
}

.fas {
  display: flex;
  justify-content: end;
  align-self: center
}

.profile-dropdown {
  list-style-type: none;
  flex-direction: column;
  width: 300px;
  padding: 10px 30px 10px 10px;
  border: 3px solid;
}

.profile-button-images {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.signup-item {
  background-color: red;
}

li {
  width: 200px;
  justify-content: space-between;
}

.fas fa-user-circle {
  width: 20px;
}
