#modal-content {
  width: 400px;
  border-radius: 20px;
  padding-bottom: 10px;
}

.login-label {
  display: block;
  width: 400px;
  text-align: auto;
  margin-left: 30px;
  padding: 5px;
}

.login-text {
  text-align: center;
  margin-bottom: -15px;
}

.login-inputs {
  width: 300px;
  display: block;
  background-color: rgb(213, 234, 242);
  font-weight:lighter
}

.login-button {
  background-color: rgb(243, 115, 69);
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 40px;
  width: 300px;
  height: 40px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  box-shadow: 3px 3px black;
  border-color: black;
  color: white;
}

.login-button:disabled {
  background-color: white;
  color:gray;
  box-shadow: 3px 3px gray;
  border-color: gray;

}

.login-errors-ul {
  text-align: auto;
  display: block;
  white-space: nowrap;
  margin-left: 10px;
  padding-top: 20px;
  color: red;
  list-style-type: none;
  width: 400px;
  font-size: smaller;
}

.login-button,
.login-errors-ul,
.login-inputs,
.login-label,
.login-text {
  font-family: 'Noto Sans Osage', sans-serif;
  font-weight: lighter;
}
